version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: library_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: LibraryDB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: library_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: contact@saikat.com.bd
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
